* {
        padding: 0;
        border: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Open Sans', sans-serif;
        background-color: rgb(179, 254, 252);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: auto;
        overflow: hidden;
        
}

.container {
        width: 70vw;
        height: 90vh;
        background-color: white;
        border-radius: 1rem;
        position: relative;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container .container-image {
        content: "";
        background-image: url('assets/bg-sidebar-desktop.svg');
        background-size: cover;
        width: 20vw;
        height: 85vh; 
        position: absolute;
        top: 1em;
        left: 1rem;
        border-radius: 1rem;
}

.container .container-image .steps {
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding: 20px;
}

.container .container-image .steps .step {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
}

.container .container-image .steps .step .circle {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: .7rem;
        border: 1px solid white;
        color: white;
}

.active {
        background-color: rgb(123, 228, 238);
        color: black;
        border: 1px solid rgb(123, 228, 238);
}


.container .container-image .steps .step .step-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
}

.container .container-image .steps .step .step-title {
        font-size: .8rem;
        margin-right: 10px;
        color: rgb(200, 206, 206);
}

.container .container-image .steps .step .step-text {
        font-size: 1rem;
        color: white;
        font-weight: bold;
}

/* ================= .container-form step1 ============================ */

.container .container-form .step1 {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 15px;
        width: 60%;
}

.container .container-form .step1 h1 {
        margin-top: 2rem;
}

.container .container-form .step1 p {
        color: rgb(155, 157, 157);
        margin-top: -1rem;
        margin-bottom: 2.5rem;
}

.container .container-form .step1 form {
        display: flex;
        flex-direction: column;
}

.container .container-form .step1 label {
        margin-bottom: .3rem;
}

.container .container-form .step1  input {
        width: 88%;
        height: 2.5rem;
        border: 1px solid rgb(155, 157, 157);
        border-radius: 10px;
        font-size: 1rem;
        padding: 10px;
        margin-bottom: 1rem;
}

.container .container-form .step1 button {
        margin-right: 1rem;
        position: absolute;
        bottom: -5rem;
        right: 3rem;
        width: 20%;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(13, 43, 127);
        color: white;
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step1 button:hover {
        background-color: rgb(107, 161, 209);
}

#name-error, #email-error, #phone-error {
        display: inline;
        position: relative;
        color: red;
        font-size: 12px;
        top: .2rem;
}

#name-error {
        left: 19rem;
}

#email-error  {     
        
        right: -15.5rem;
}

#phone-error {
        right: -15rem;
}



/* ================= .container-form step2 ============================ */

.container .container-form .step2 {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 15px;
        width: 60%;
}

.container .container-form .step2 h1 {
        margin-top: 2rem;
}

.container .container-form .step2 p {
        color: rgb(155, 157, 157);
        margin-top: -1rem;
        margin-bottom: 2.5rem;
}

.container .container-form .step2 .step2-select {
        display: flex;
        gap: 1rem;
}

.container .container-form .step2 .step2-select .select-item {
        width: 27.5%;
        border: 1px solid rgb(171, 179, 179);
        padding-left: 1rem;
        padding-right: 3rem;
        border-radius: 1rem;
        cursor: pointer;
        height: 10rem;
}

.container .container-form .step2 .step2-select .select-item:hover {
        border-color: black;
}


.container .container-form .step2 .step2-select .select-item img {
        margin-top: 1rem;
        margin-bottom: .8rem;
}

.container .container-form .step2 .step2-select .select-item h2 {
        font-size: 1.2rem;
}

.container .container-form .step2 .step2-select .select-item span {
        display: none;
        position: absolute;
        color: blue;
        bottom: .5rem;
        font-weight: 700;
}

.container .container-form .step2 .step2-switch {
        width: 88%;
        height: 15%;
        background-color: hsl(177, 44%, 85%);
        position: absolute;
        bottom: -5rem;
        right: 4rem;
        border-radius: 10px;
}

.container .container-form .step2 .step2-switch .switch {
        position: absolute;
        display: inline-block;
        width: 4.5rem;
        height: 2.1rem;
        bottom: 0.4rem;
        right: 12.5rem;
}
      
.container .container-form .step2 .step2-switch .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
}
      
.container .container-form .step2 .step2-switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: blue;
        -webkit-transition: .4s;
        transition: .4s;
}
      
.container .container-form .step2 .step2-switch .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
}
      
.container .container-form .step2 .step2-switch input:checked + .slider {
        background-color: blue;
}
      
.container .container-form .step2 .step2-switch input:focus + .slider {
        box-shadow: 0 0 1px blue;
}
      
.container .container-form .step2 .step2-switch input:checked + .slider:before {
        -webkit-transform: translateX(2.4rem);
        -ms-transform: translateX(2.4rem);
        transform: translateX(2.4rem);
}
      
      /* Rounded sliders */
.container .container-form .step2 .step2-switch .slider.round {
        border-radius: 34px;
}
      
.container .container-form .step2 .step2-switch .slider.round:before {
        border-radius: 50%;
}


.container .container-form .step2 .step2-switch .sw-option1 {
        position: absolute;
        left: -6rem;
        padding-top: .3rem;
        font-weight: 600;
}

.container .container-form .step2 .step2-switch .sw-option2 {
        position: absolute;
        right: -5rem;
        padding-top: .3rem;
        font-weight: 600;
}

.container .container-form .step2 .goBack {
        position: absolute;
        bottom: -10.5rem;
        left: .2rem;
        color: rgb(138, 133, 133);
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step2 button {
        margin-right: 1rem;
        position: absolute;
        bottom: -11rem;
        right: 3rem;
        width: 20%;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(13, 43, 127);
        color: white;
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step2 button:hover {
        background-color: rgb(107, 161, 209);
}


/* ================= .container-form step3 ============================ */


.container .container-form .step3 {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 15px;
        width: 60%;
}

.container .container-form .step3 h1 {
        margin-top: 2rem;
}

.container .container-form .step3 p {
        color: rgb(155, 157, 157);
        margin-top: -1rem;
        margin-bottom: 2.5rem;
}

.container .container-form .step3 .step3-select {
        display: flex;
        gap: 1rem;
        flex-direction: column;
}

.container .container-form .step3 .step3-select .select-check {
        width: 88%;
        border: 1px solid rgb(171, 179, 179);
        padding-left: 1rem;
        padding-right: 3rem;
        border-radius: 1rem;
        cursor: pointer;
        height: 4.5rem;
        position: relative;
}

.container .container-form .step3 .step3-select .select-check:hover {
        border-color: black;
}

.checkboxeffect {
        border-color: black;
        background-color: hsl(229, 24%, 87%);
}

.container .container-form .step3 .step3-select .select-check input {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-top: 1.5rem;
}

.container .container-form .step3 .step3-select .select-check h2 {
        position: absolute;
        top: -.5rem;
        left: 5rem;
        font-weight: 600;
        font-size: 1.2rem;
}

.container .container-form .step3 .step3-select .select-check p {
        position: absolute;
        top: 3.2rem;
        left: 5rem;
}

.container .container-form .step3 .step3-select .select-check span {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        color: rgb(171, 166, 166)
}

.container .container-form .step3 .goBack {
        position: absolute;
        bottom: -5.5rem;
        left: .25rem;
        color: rgb(138, 133, 133);
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step3 button {
        margin-right: 1rem;
        position: absolute;
        bottom: -6rem;
        right: 3rem;
        width: 20%;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(13, 43, 127);
        color: white;
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step3 button:hover {
        background-color: rgb(107, 161, 209);
}

/* ================= .container-form step4 ============================ */




.container .container-form .step4 {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 15px;
        width: 60%;
}

.container .container-form .step4 h1 {
        margin-top: 2rem;
}

.container .container-form .step4 p {
        color: rgb(155, 157, 157);
        margin-top: -1rem;
        margin-bottom: 2.3rem;
}

.container .container-form .step4 .step4-select {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(222, 238, 238);
        border-radius: .5rem;
        background-color: hsl(206, 100%, 93%);
        width: 88%;
        height: 11.5rem;
        
}


.container .container-form .step4 .step4-select .marked {
        width: 88%;
        padding-left: 1rem;
        padding-right: 3rem;
        height: 4rem;
        position: relative;
}



.container .container-form .step4 .step4-select .marked h2 {
        position: absolute;
        top: .3rem;
        left: 2rem;
        font-weight: 600;
        font-size: 1rem;
}

.container .container-form .step4 .step4-select .line {
        background-color: rgb(217, 209, 209);
        height: .1rem;
        width: 77%;
        position: absolute;
        top: 14rem;
        right: 5.8rem;
}

.container .container-form .step4 .step4-select .marked p {
        position: absolute;
        top: 4rem;
        left: 2rem;
        text-decoration: underline;
        color:rgb(130, 155, 225);
        cursor: pointer;

}

.container .container-form .step4 .step4-select .marked span {
        position: absolute;
        top: 2.5rem;
        right: -1.7rem;
        
        font-weight: 800;
}


.container .container-form .step4 .step4-select .markedSecond p {
        position: relative;
        top: 2.2rem;
        margin: 0;
        line-height: 0.5;
        left: 2rem;

}

.container .container-form .step4 .step4-select .markedSecond span {
        position: relative;
        left: 24rem;
        top: 1.5rem;
        margin: 0;
        line-height: 0.5;

}


.container .container-form .step4 .total p {
        position: absolute;
        left: 1.7rem;
        bottom: -6rem;
}

.container .container-form .step4 .total span {
        position: absolute;
        right: 5.4rem;
        bottom: -4rem;
        color: blue;
        font-size: 1.2rem;
        font-weight: 700;
}

.container .container-form .step4 .goBack {
        position: absolute;
        bottom: -10.4rem;
        left: .25rem;
        color: rgb(138, 133, 133);
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step4 button {
        margin-right: 1rem;
        position: absolute;
        bottom: -11rem;
        right: 3rem;
        width: 20%;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(13, 43, 127);
        color: white;
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step4 button:hover {
        background-color: rgb(107, 161, 209);
}

/* ================= .container-form ThankYou ============================ */

.thankYou {
        display: none;
        /* display: flex; */
        flex-direction: column;
}

.thankYou img {
        width: 10%;
        position: absolute;;
        top: 25%;
        right: 32%;
}

.thankYou h1 {
        width: 70%;
        position: absolute;
        top: 40%;
        right: -24%;
}

.thankYou p {
        width: 55%;
        position: absolute;
        top: 53%;
        right: 5%;
        text-align: center;
        color:hsl(210, 2%, 60%)
}



@media (max-width: 392px) {
        body {
            display: flex;
            min-height: 100vh;
            margin: 0;
        }
    
        .container {
            width: 90vw;
            max-width: 95%;
            height: 65%;
            background-color: white;
            
        }
    
        .container .container-image {
            content: "";
            background-image: url('assets/bg-sidebar-mobile.svg');
            background-size: cover;
            height: 50%;
            width: 100vw;
            position: relative;
            top: -8rem;
            left: -1.24rem;
            z-index: -1;
        }
    
        .container .container-image .steps  {
                
            flex-direction: row;
            justify-content: center;
            padding-top: 3rem;
        }
    

        
        
        .container .container-image .steps .step .step-description {
                display: none;
        }
        
        .container .container-image .steps .step .step-title {
                display: none;
        }
        
        .container .container-image .steps .step .step-text {
                display: none;
        }
        .container .container-form .step1 {
                display: none;
                position: absolute;
                top: 1rem;
                left: 1rem;
                flex-direction: column;
                margin-bottom: 15px;
                width: 100%;
        }
        
        .container .container-form .step1 h1 {
                margin-top: 1rem;
        }
        
        .container .container-form .step1 p {
                margin-top: -1rem;
                margin-bottom: 2.5rem;
                text-align: left;
                width: 90%;
        }
        
        .container .container-form .step1 button {
                bottom: -7rem;
                right: 1rem;
                width: 30%;
        }
        
        #name-error, #email-error, #phone-error {
                display: inline;
                position: relative;
                color: red;
                font-size: 12px;
                top: .2rem;
                left: 5rem;
        }
        
        #name-error {
                left: 9rem;
        }
        .container .container-form .step2 {
                display: none;
                position: absolute;
                top: 1rem;
                left: 1rem;
                /* display: flex; */
                flex-direction: column;
                margin-bottom: 15px;
                width: 69%;
        }
        
        .container .container-form .step2 h1 {
                margin-top: 1rem;
        }
        
        .container .container-form .step2 p {
                color: rgb(155, 157, 157);
                margin-top: -1rem;
                margin-bottom: .5rem;
        }
        
        .container .container-form .step2 .step2-select {
                display: flex;
                flex-direction: column;
                gap: 1rem;
        }
        
        .container .container-form .step2 .step2-select .select-item {
                width: 80vw;
                padding-right: 2rem;
                border-radius: 1rem;
                cursor: pointer;
                height: 4rem;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
        }
        
        
        
        .container .container-form .step2 .step2-select .select-item img {
                left: -6rem;
                top: 0;
        }
        
        .container .container-form .step2 .step2-select .select-item h2 {
                font-size: 1.2rem;
        }
        
        .container .container-form .step2 .step2-select .select-item span {
                padding-top: 10rem;
        }
        
        .container .container-form .step2 .step2-switch {
                width: 18rem;
                height: 12%;
                position: absolute;
                bottom: -4rem;
                right: -4rem;
        }
        
        .container .container-form .step2 .step2-switch .switch {
                position: absolute;
                display: inline-block;
                width: 4.5rem;
                height: 2rem;
                bottom: .1rem;
                right: 5rem;
        }
           
              
        .container .container-form .step2 .step2-switch .slider:before {
                position: absolute;
                content: "";
                height: 1.8rem;
                width: 2rem;
                left: .25rem;
                bottom: .1rem;
        }
              
        .container .container-form .step2 .step2-switch input:checked + .slider:before {
                -webkit-transform: translateX(2.4rem);
                -ms-transform: translateX(2.4rem);
                transform: translateX(2rem);
        }
              
              /* Rounded sliders */
        
        
        
        .container .container-form .step2 .goBack {
                position: absolute;
                bottom: -10.5rem;
                left: .2rem;
                color: rgb(138, 133, 133);
                font-size: 1rem;
        }
        
        .container .container-form .step2 button {
                position: absolute;
                bottom: -11rem;
                right: -5rem;
                width: 40%;
        }
        .container .container-form .step3 {
                display: none;
                position: absolute;
                top: .5rem;
                right: 1rem;
                /* display: flex; */
                flex-direction: column;
                margin-bottom: 15px;
                width: 90%;
        }
        
        .container .container-form .step3 h1 {
                margin-top: 1rem;
        }
        
        .container .container-form .step3 p {
                color: rgb(155, 157, 157);
                margin-top: -1rem;
                margin-bottom: .5rem;
        }
        
        .container .container-form .step3 .step3-select {
                display: flex;
                gap: 1rem;
                flex-direction: column;
        }
        
        .container .container-form .step3 .step3-select .select-check {
                width: 100%;
                padding-left: 1rem;
                padding-right: 3rem;
                border-radius: 1rem;
                height: 4.5rem;
                position: relative;
        }
        
        .container .container-form .step3 .step3-select .select-check input {
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 10px;
                margin-top: 1.5rem;
        }
        
        .container .container-form .step3 .step3-select .select-check h2 {
                position: absolute;
                top: -.5rem;
                left: 5rem;
                font-weight: 600;
                font-size: 1.2rem;
        }
        
        .container .container-form .step3 .step3-select .select-check p {
                position: absolute;
                top: 3.2rem;
                left: 5rem;
        }
        
        .container .container-form .step3 .step3-select .select-check span {
                position: absolute;
                right: 1rem;
                top: 1.5rem;
                color: rgb(171, 166, 166)
        }
        
        .container .container-form .step3 .goBack {
                position: absolute;
                bottom: -7.5rem;
                left: -1rem;
        }
        
        .container .container-form .step3 button {
                margin-right: 1rem;
                position: absolute;
                bottom: -8rem;
                right: -1rem;
                width: 40%;
                height: 2.5rem;
        }

        /* ================= .container-form step4 ============================ */
        
        
        
        
        .container .container-form .step4 {
                display: none;
                position: absolute;
                top: 1rem;
                right: 1rem;
                /* display: flex; */
                flex-direction: column;
                margin-bottom: 15px;
                width: 90%;
        }
        
        .container .container-form .step4 h1 {
                margin-top: 1rem;
        }
        
        .container .container-form .step4 p {
                margin-top: -1rem;
                margin-bottom: .5rem;
        }
        
        .container .container-form .step4 .step4-select {
                display: flex;
                flex-direction: column;
                width: 20rem;
                height: 11.5rem;
                
        }
        
        
        .container .container-form .step4 .step4-select .marked {
                width: 88%;
                padding-left: 1rem;
                padding-right: 3rem;
                height: 4rem;
                position: relative;
        }
        
        
        
        .container .container-form .step4 .step4-select .marked h2 {
                position: absolute;
                top: .3rem;
                left: 2rem;
                font-weight: 600;
                font-size: 1rem;
        }
        
        .container .container-form .step4 .step4-select .line {
                background-color: rgb(217, 209, 209);
                height: .1rem;
                width: 77%;
                position: absolute;
                top: 12rem;
                right: 3.8rem;
        }
        
        .container .container-form .step4 .step4-select .marked p {
                position: absolute;
                top: 4rem;
                left: 2rem;
                text-decoration: underline;
                color:rgb(130, 155, 225);
                cursor: pointer;
        
        }
        
        .container .container-form .step4 .step4-select .marked span {
                position: absolute;
                top: 2.5rem;
                right: -1.7rem;
                
                font-weight: 800;
        }
        
        
        .container .container-form .step4 .step4-select .markedSecond p {
                position: relative;
                top: 2.2rem;
                margin: 0;
                line-height: 0.5;
                left: 2rem;
        
        }
        
        .container .container-form .step4 .step4-select .markedSecond span {
                position: relative;
                left: 24rem;
                top: 1.5rem;
                margin: 0;
                line-height: 0.5;
        
        }
        
        
        .container .container-form .step4 .total p {
                position: absolute;
                left: 1.7rem;
                bottom: -2rem;
        }
        
        .container .container-form .step4 .total span {
                position: absolute;
                right: 2rem;
                bottom: -2rem;
                color: blue;
                font-size: 1.2rem;
                font-weight: 700;
        }
        
        .container .container-form .step4 .goBack {
                position: absolute;
                bottom: -11.4rem;
                left: 0;
        }
        
        .container .container-form .step4 button {
                margin-right: 1rem;
                position: absolute;
                bottom: -12rem;
                right: -1rem;
                width: 35%;
        }
        
        
        /* ================= .container-form ThankYou ============================ */
        
        .thankYou {
                display: none;
                /* display: flex; */
                flex-direction: column;
        }
        
        .thankYou img {
                width: 20%;
                position: absolute;;
                top: 25%;
                right: 40%;
        }
        
        .thankYou h1 {
                width: 70%;
                position: absolute;
                top: 40%;
                right: .7rem;
        }
        
        .thankYou p {
                width: 90%;
                position: absolute;
                top: 53%;
                right: 1.7rem;
                text-align: center;
        }
        
        
        
    }
    