* {
        padding: 0;
        border: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Open Sans', sans-serif;
        background-color: rgb(179, 254, 252);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: auto;
        
}

.container {
        width: 70vw;
        height: 90vh;
        background-color: white;
        border-radius: 1rem;
        position: relative;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container .container-image {
        content: "";
        background-image: url('assets/bg-sidebar-desktop.svg');
        background-size: cover;
        width: 20vw;
        height: 85vh; 
        position: absolute;
        top: 1em;
        left: 1rem;
        border-radius: 1rem;
}

.container .container-image .steps {
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding: 20px;
}

.container .container-image .steps .step {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
}

.container .container-image .steps .step .circle {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: .7rem;
        border: 1px solid white;
        color: white;
        cursor: pointer;
}

.container .container-image .steps .step .circle:active , .container .container-image .steps .step .circle:hover {
        background-color: rgb(123, 228, 238);
        color: black;
        border: 1px solid rgb(123, 228, 238);
}


.container .container-image .steps .step .step-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
}

.container .container-image .steps .step .step-title {
        font-size: .8rem;
        margin-right: 10px;
        color: rgb(200, 206, 206);
}

.container .container-image .steps .step .step-text {
        font-size: 1rem;
        color: white;
        font-weight: bold;
}

/* ================= .container-form step1 ============================ */

.container .container-form .step1 {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 15px;
        width: 60%;
}

.container .container-form .step1 h1 {
        margin-top: 2rem;
}

.container .container-form .step1 p {
        color: rgb(155, 157, 157);
        margin-top: -1rem;
        margin-bottom: 2.5rem;
}

.container .container-form .step1 label {
        margin-bottom: .3rem;
}

.container .container-form .step1 input {
        margin-bottom: 1rem;
        width: 88%;
        height: 2.5rem;
        border: 1px solid rgb(155, 157, 157);
        border-radius: 10px;
        font-size: 1rem;
        padding: 10px;
}

.container .container-form .step1 button {
        margin-right: 1rem;
        position: absolute;
        bottom: -5rem;
        right: 3rem;
        width: 20%;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(13, 43, 127);
        color: white;
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step1 button:hover {
        background-color: rgb(107, 161, 209);
}

/* ================= .container-form step2 ============================ */

.container .container-form .step2 {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 15px;
        width: 60%;
}

.container .container-form .step2 h1 {
        margin-top: 2rem;
}

.container .container-form .step2 p {
        color: rgb(155, 157, 157);
        margin-top: -1rem;
        margin-bottom: 2.5rem;
}

.container .container-form .step2 .step2-select {
        display: flex;
        gap: 1rem;
}

.container .container-form .step2 .step2-select .select-item {
        width: 27.5%;
        border: 1px solid rgb(171, 179, 179);
        padding-left: 1rem;
        padding-right: 3rem;
        border-radius: 1rem;
        cursor: pointer;
        height: 10rem;
}

.container .container-form .step2 .step2-select .select-item:hover {
        border-color: black;
}

.container .container-form .step2 .step2-select .select-item:active {
        border-color: black;
        background-color: hsl(229, 24%, 87%);
}

.container .container-form .step2 .step2-select .select-item img {
        margin: 1rem 0;
}

.container .container-form .step2 .step2-select .select-item h2 {
        font-size: 1.2rem;
}

.container .container-form .step2 .step2-switch {
        width: 88%;
        height: 15%;
        background-color: rgb(154, 248, 248);
        position: absolute;
        bottom: -5rem;
        right: 4rem;
        border-radius: 10px;
}

.container .container-form .step2 .step2-switch .switch {
        position: absolute;
        display: inline-block;
        width: 4.5rem;
        height: 2.1rem;
        bottom: 0.4rem;
        right: 12.5rem;
}
      
.container .container-form .step2 .step2-switch .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
}
      
.container .container-form .step2 .step2-switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: blue;
        -webkit-transition: .4s;
        transition: .4s;
}
      
.container .container-form .step2 .step2-switch .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
}
      
.container .container-form .step2 .step2-switch input:checked + .slider {
        background-color: blue;
}
      
.container .container-form .step2 .step2-switch input:focus + .slider {
        box-shadow: 0 0 1px blue;
}
      
.container .container-form .step2 .step2-switch input:checked + .slider:before {
        -webkit-transform: translateX(2.4rem);
        -ms-transform: translateX(2.4rem);
        transform: translateX(2.4rem);
}
      
      /* Rounded sliders */
.container .container-form .step2 .step2-switch .slider.round {
        border-radius: 34px;
}
      
.container .container-form .step2 .step2-switch .slider.round:before {
        border-radius: 50%;
}


.container .container-form .step2 .step2-switch .sw-option1 {
        position: absolute;
        left: -6rem;
        padding-top: .3rem;
        font-weight: 600;
}

.container .container-form .step2 .step2-switch .sw-option2 {
        position: absolute;
        right: -5rem;
        padding-top: .3rem;
        font-weight: 600;
}

.container .container-form .step2 .goBack {
        position: absolute;
        bottom: -10.5rem;
        left: .2rem;
        color: rgb(138, 133, 133);
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step2 button {
        margin-right: 1rem;
        position: absolute;
        bottom: -11rem;
        right: 3rem;
        width: 20%;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(13, 43, 127);
        color: white;
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step2 button:hover {
        background-color: rgb(107, 161, 209);
}


/* ================= .container-form step3 ============================ */


.container .container-form .step3 {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 15px;
        width: 60%;
}

.container .container-form .step3 h1 {
        margin-top: 2rem;
}

.container .container-form .step3 p {
        color: rgb(155, 157, 157);
        margin-top: -1rem;
        margin-bottom: 2.5rem;
}

.container .container-form .step3 .step3-select {
        display: flex;
        gap: 1rem;
        flex-direction: column;
}

.container .container-form .step3 .step3-select .select-check {
        width: 88%;
        border: 1px solid rgb(171, 179, 179);
        padding-left: 1rem;
        padding-right: 3rem;
        border-radius: 1rem;
        cursor: pointer;
        height: 4.5rem;
        position: relative;
}

.container .container-form .step3 .step3-select .select-check:hover {
        border-color: black;
}

.container .container-form .step3 .step3-select .select-check:active {
border-color: black;
background-color: hsl(229, 24%, 87%);
}

.container .container-form .step3 .step3-select .select-check input {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-top: 1.5rem;
}

.container .container-form .step3 .step3-select .select-check h2 {
        position: absolute;
        top: -.5rem;
        left: 5rem;
        font-weight: 600;
        font-size: 1.2rem;
}

.container .container-form .step3 .step3-select .select-check p {
        position: absolute;
        top: 3.2rem;
        left: 5rem;
}

.container .container-form .step3 .step3-select .select-check span {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        color: rgb(171, 166, 166)
}

.container .container-form .step3 .goBack {
        position: absolute;
        bottom: -5.5rem;
        left: .25rem;
        color: rgb(138, 133, 133);
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step3 button {
        margin-right: 1rem;
        position: absolute;
        bottom: -6rem;
        right: 3rem;
        width: 20%;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(13, 43, 127);
        color: white;
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step3 button:hover {
        background-color: rgb(107, 161, 209);
}

/* ================= .container-form step4 ============================ */




.container .container-form .step4 {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        /* display: flex; */
        flex-direction: column;
        margin-bottom: 15px;
        width: 60%;
}

.container .container-form .step4 h1 {
        margin-top: 2rem;
}

.container .container-form .step4 p {
        color: rgb(155, 157, 157);
        margin-top: -1rem;
        margin-bottom: 2.3rem;
}

.container .container-form .step4 .step4-select {
        display: flex;
        gap: 0rem;
        flex-direction: column;
        border: 1px solid rgb(222, 238, 238);
        border-radius: .5rem;
        background-color: hsl(206, 100%, 93%);
        width: 88%;
        height: 10rem;
}


.container .container-form .step4 .step4-select .marked {
        width: 88%;
        padding-left: 1rem;
        padding-right: 3rem;
        height: 4rem;
        position: relative;
}



.container .container-form .step4 .step4-select .marked h2 {
        position: absolute;
        top: .3rem;
        left: 2rem;
        font-weight: 600;
        font-size: 1rem;
}

.container .container-form .step4 .step4-select .line {
        background-color: rgb(217, 209, 209);
        height: .1rem;
        width: 77%;
        position: absolute;
        top: 14rem;
        right: 5.8rem;
}

.container .container-form .step4 .step4-select .marked p:nth-child(2) {
        position: absolute;
        top: 4rem;
        left: 2rem;
}

.container .container-form .step4 .step4-select .marked p:nth-child(2):hover {
        text-decoration: underline;
        color:rgb(130, 155, 225);
        cursor: pointer;
        
}

.container .container-form .step4 .step4-select .marked p:nth-child(1) {
        position: absolute;
        top: 2.7rem;
        left: 2rem;
}



.container .container-form .step4 .step4-select .marked p:nth-child(3) {
        position: absolute;
        top: 4.5rem;
        left: 2rem;
}

.container .container-form .step4 .step4-select .marked span {
        position: absolute;
        right: -1rem;
        top: 1.7rem;
        color: rgb(30, 28, 28)
}

.container .container-form .step4 .step4-select .marked span:nth-child(3) {
        font-weight: 600;
}

.container .container-form .step4 .step4-select .marked span:nth-child(2) {
        right: -1rem;
        top: 3.5rem;
}

.container .container-form .step4 .total p {
        position: absolute;
        left: 2rem;
        bottom: -5rem;
}

.container .container-form .step4 .total span {
        position: absolute;
        right: 6.5rem;
        bottom: -3rem;
        color: blue;
        font-size: 1.2rem;
        font-weight: 700;
}

.container .container-form .step4 .goBack {
        position: absolute;
        bottom: -10.5rem;
        left: .25rem;
        color: rgb(138, 133, 133);
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step4 button {
        margin-right: 1rem;
        position: absolute;
        bottom: -11rem;
        right: 3rem;
        width: 20%;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        background-color: rgb(13, 43, 127);
        color: white;
        font-size: 1rem;
        cursor: pointer;
}

.container .container-form .step4 button:hover {
        background-color: rgb(107, 161, 209);
}

.thankYou {
        display: flex;
        flex-direction: column;
}

.thankYou img {
        width: 10%;
        position: absolute;;
        top: 25%;
        right: 32%;
}

.thankYou h1 {
        width: 70%;
        position: absolute;
        top: 40%;
        right: -24%;
}

.thankYou p {
        width: 55%;
        position: absolute;
        top: 53%;
        right: 5%;
        text-align: center;
        color:hsl(210, 2%, 60%)
}
